global_defs {
    router_id {{ inventory_hostname }}
}

vrrp_script chk_haproxy {
    script "{{ keepalived_check_script }}"
    interval {{ keepalived_check_interval }}
    timeout {{ keepalived_check_timeout }}
    rise 2
    fall 2
    weight {{ keepalived_check_weight }}
}

vrrp_instance VI_MARIADB {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_password }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_prefix }}
    }

    track_script {
        chk_haproxy
    }
}
