# DO NOT CHANGE
#################################
# local-address IP addresses to listen on, separated by spaces or commas. Also accepts ports.
local-address={{ ansible_default_ipv4.address }}
#################################
# local-port    port to listen on
local-port=53


# Input and Forward
#################################
# allow-from    If set, only allow these comma separated netmasks to recurse
allow-from={{ powerdns_allow_from }}
#################################
# forward-zones-recurse Zones for which we forward queries with recursion bit, comma separated domain=ip pairs
forward-zones-recurse={{ powerdns_forward_zones_recurse }}


# performance
#################################
# threads       Launch this number of threads
threads={{ powerdns_threads }}

# Log
#################################
# loglevel      Amount of logging. Higher is more. Do not set below 3
loglevel={{ powerdns_loglevel }}
#################################
# quiet Suppress logging of questions and answers
quiet={{ powerdns_quiet }}
#################################
# log-timestamp Print timestamps in log lines, useful to disable when running with a tool that timestamps stdout already
log-timestamp={{ powerdns_log_timestamp }}


# Security
#################################
# dnssec        DNSSEC mode: off/process-no-validate/process (default)/log-fail/validate
dnssec={{ powerdns_dnssec }}
#################################
# security-poll-suffix  Domain name from which to query security update notifications
#
# security-poll-suffix=secpoll.powerdns.com.
security-poll-suffix={{ powerdns_security_poll_suffix }}


# Config Files
#################################
# config-dir    Location of configuration directory (recursor.conf)
config-dir={{ powerdns_config_dir }}
#################################
# hint-file     If set, load root hints from this file
hint-file={{ powerdns_hint_file }}
#################################
# include-dir   Include *.conf files from this directory
include-dir={{ powerdns_include_dir }}
#################################
# lua-config-file       More powerful configuration options
lua-config-file={{ powerdns_lua_config_file }}
#################################
# public-suffix-list-file       Path to the Public Suffix List file, if any
public-suffix-list-file={{ powerdns_public_suffix_list_file }}
